@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, User ;)</h1>

<p style="font-size: 25px;">Welcome to the Frontend <strong><em>Movie Catalog Application</em></strong>.</p>
<p> Select what you want to view using "Backend Web API": </p>


<nav id="nav-links">
	<NavLink href="all-movies" class="nav-link">All Movies</NavLink>
	
</nav>
