@* Shared/Sidebar.razor *@

<nav id="sidebar">
    <h3>Movie Catalog Frontend</h3>

    <ul>
        <li><NavLink class="nav-link" href="/">Home</NavLink></li>
        <li><NavLink class="nav-link" href="/all-movies">All Movies</NavLink></li>
        <li><NavLink class="nav-link" href="/top-rated">Top Rated Movie(s)</NavLink></li>
		<li><NavLink class="nav-link" href="/rated">Rated Movie</NavLink></li>
        <li><NavLink class="nav-link" href="/yearDescendingOrder">Descending order by year</NavLink></li>
        <li><NavLink class="nav-link" href="/genre">Genre Movie(s) List</NavLink></li>
        <li><NavLink class="nav-link" href="/IdTitleGenre">Displaying Id, Title and Genre only</NavLink></li>
        <li><NavLink class="nav-link-green" href="/createNewPage">Create a new page</NavLink></li>
        <li><NavLink class="nav-link-orange" href="/update-movie">Update Movie</NavLink></li>
    </ul>
</nav>




@code {

}
